body {
  font-family: "JetBrains Mono", monospace;
  background: #047e7e;
}

* {
  margin:  0;
  padding: 0;
}

a {
  color: #ffff04;
  font-weight: bold;
}

.main {
  width:  calc(100% - 32px);
  margin: 32px auto;
  border: 2px solid #000;

}

.main__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background: #000;
}

.main__navbar__content__link {
  margin: 16px;
  display: inline;  
}

.main__navbar__content__link a {
  text-decoration: none;
}

.main__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  height: 48px;
  color: #fff;
}

.section {
  width:  calc(100% - 46px);
  margin: 8px auto;
  padding: 16px;
  border: 2px solid #000;
}

.section__header {
  margin-bottom: 20px;
}

.section__info {
  text-align: justify;
  margin-bottom: 32px;
}

.flex__line {
  display: flex;
}

.info__card {
  width: calc( 100% - 16px );
  margin: 0 auto;
  min-height: 300px;
  padding: 12px;
  background: #000;
  border: 2px solid #047e7e;
  color: #fff;
}

.info__card__title {
  color: #ffff04;
}

.info__card__title,
.info__card__desc {
  margin-bottom: 24px;
}

.info__card__list {
  list-style-type: none;
  letter-spacing: 2px;
  margin-bottom: 32px;
  color: #06ff04;
}

.main__header {
  margin-bottom: 32px;
}

.main__header__title {
  text-align: center;
  color: #ffff04;
  text-shadow: 4px 4px 0 #000;
  margin-bottom: 16px;
}

.main__header__subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.main__header__quote {
  width: 50%;
  margin: 0 auto;
}

.main__header__quote__content {
  margin-bottom: 4px;
}

.main__header__quote__author {
  text-align: right;
}

.button {
  border: 0;
  min-width: 128px;
  height: 32px;
  background: #ffff04;
  box-shadow: 8px 8px 0px #000;
  font-weight: bold;
  margin: 0 8px 16px 0;
}

.button:hover {
  cursor: pointer;
}

.details {
  margin-bottom: 16px;
}

.details__summary {
  width: calc(100% - 16px);
  padding: 8px;
  background: #ffff04;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 8px 8px 0 #000;
}

.details__summary__content {
  width: calc(100% - 16px);
  padding: 8px;
  background: #000;
  color: #fff;
  font-size: 14px;
  box-shadow: 8px 8px 0 #ffff04;
}

.details__summary__content__p {
  margin-bottom: 32px;
}

.image {
  width: 256px;
}

@media screen and (max-width: 980px) {
  .main__header__title {
    font-size: 28px;
  }

  .main {
    width:  calc(100% - 16px);
    margin: 8px auto;
    border: 2px solid #000;
  }

  .section {
    width:  calc(100% - 48px);
    margin: 8px auto;
    border: 2px solid #000;
  }

  .section {
    padding: 16px;
  }

  .info__card {
    border: none;
    margin-bottom: 16px;
  }

  .flex__line {
    display: block;
  }

  .details__summary,
  .details__summary__info {
    font-size: 14px;
  }

  .details__summary::marker {
    content: "";
  }
}