body {
  font-family: "JetBrains Mono", monospace;
  background: #047e7e;
}

* {
  margin:  0;
  padding: 0;
}

a {
  color: #ffff04;
  font-weight: bold;
}

.main {
  width:  calc(100% - 16px);
  margin: 8px auto;
  border: 2px solid #000;

}

.main__footer {
  text-align: center;
  background: #000;
  color: #fff;
}

.section {
  width:  calc(100% - 32px);
  margin: 8px auto;
  padding: 8px;
  border: 2px solid #000;
}

.section__header {
  margin-bottom: 20px;
}

.section__info {
  text-align: justify;
  margin-bottom: 32px;
}

.flex__line {
  display: flex;
}

.info__card {
  width: calc( 100% - 16px );
  margin: 0 auto;
  min-height: 300px;
  padding: 12px;
  background: #000;
  border: 2px solid #047e7e;
  color: #fff;
}

.info__card__title {
  color: #ffff04;
}

.info__card__title,
.info__card__desc {
  margin-bottom: 24px;
}

.info__card__list {
  list-style-type: none;
  letter-spacing: 2px;
  margin-bottom: 32px;
  color: #06ff04;
}

.main__header {
  text-align: center;
}

.main__header__title {
  color: #ffff04;
  text-shadow: 4px 4px 0 #000;
}

.button {
  border: 0;
  min-width: 128px;
  height: 24px;
  background: #ffff04;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 1.0);
  font-weight: bold;
  margin-bottom: 16px;
}

.button:hover {
  cursor: pointer;
}

.details {
  margin-bottom: 16px;
}

.details__summary {
  width: calc(100% - 16px);
  padding: 8px;
  background: #ffff04;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 8px 8px 0 #000;
}

.details__summary__info {
  width: calc(100% - 16px);
  padding: 8px;
  background: #000;
  color: #fff;
  font-size: 14px;
  box-shadow: 8px 8px 0 #ffff04;
}

@media screen and (max-width: 980px) {
  .main__header__title {
    font-size: 28px;
  }

  .main {
    width:  calc(100% - 16px);
    margin: 8px auto;
    border: 2px solid #000;
  }

  .section {
    width:  calc(100% - 48px);
    margin: 8px auto;
    border: 2px solid #000;
  }

  .section {
    padding: 16px;
  }

  .info__card {
    border: none;
    margin-bottom: 16px;
  }

  .flex__line {
    display: block;
  }

  .details__summary,
  .details__summary__info {
    font-size: 14px;
  }

  .details__summary::marker {
    content: "";
  }
}