// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800

.jetbrains-mono-<uniquifier> {
 	font-family: "JetBrains Mono", monospace;
 	font-optical-sizing: auto;
 	font-weight: <weight>;
 	font-style: normal;
}

body {
	margin:  0;
	padding: 0;

	width:  100dvw;
	height: 100dvh;

	background: #f9f5d7;
}

section {
	width: 100dvw;

	margin-bottom: 16px;
}

footer {
	width:  100dvw;
	min-height: 128px;

	background: linear-gradient(45deg, #98971a, #d65d0e);
	color: #f9f5d7;
}

h1, h2, h3, h4{
	margin: 0; padding: 0;
}

#top__page {
	height: 480px;

	text-align: center;

	background: linear-gradient(45deg, #98971a, #d65d0e);
	color: #f9f5d7;
}

#skill__cards {
	display: flex;
}

#skill__cards .card {
	margin-right: 8px;
}

.card {
	width:  100%;
	height: 360px;

	padding: 8px;

	background: #ebdbb2;

	border-radius: 8px;
}

.card__title {
	text-align: center;
}