// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800

.jetbrains-mono-<uniquifier> {
 	font-family: "JetBrains Mono", monospace;
 	font-optical-sizing: auto;
 	font-weight: <weight>;
 	font-style: normal;
}

body {
	margin:  0;
	padding: 0;

	width:  100dvw;
	height: 100dvh;

	background: #f9f5d7;
}

#top__page {
	width:  100%;
	height: 480px;

	background: linear-gradient(#689d6a,#b16286);
}