body {
  font-family: "JetBrains Mono", monospace;
  background: #047e7e;
}

* {
  margin:  0;
  padding: 0;
}

.main {
  width:  calc(100% - 16px);
  margin: 8px auto;
  border: 1px solid #000;

}

.main__footer {
  background: #000;
  color: #fff;
}

.section {
  width:  calc(100% - 32px);
  margin: 8px auto;
  padding: 8px;
  border: 1px solid #000;
}

.section__header {
  margin-bottom: 16px;
}

.section__info {
  margin-bottom: 16px;
}

.flex__line {
  display: flex;
}

.info__card {
  width: calc( 100% - 16px );
  margin: 0 auto;
  min-height: 300px;
  padding: 8px;
  background: #000;
  border: 2px solid #047e7e;
  color: #fff;
}

.info__card__title,
.info__card__desc {
  margin-bottom: 16px;
}

.info__card__list {
  list-style-type: none;
  letter-spacing: 2px;
}

.main__header {
  text-align: center;
}