// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800

.jetbrains-mono-<uniquifier> {
 	font-family: "JetBrains Mono", monospace;
 	font-optical-sizing: auto;
 	font-weight: <weight>;
 	font-style: normal;
}

body {
	margin:  0;
	padding: 0;

	width:  100dvw;
	height: 100dvh;

	background: #f9f5d7;
}

h1 {
	margin: 0; padding: 0;
}

#top__page {
	width:  100dvw;
	height: 480px;

	text-align: center;

	background: linear-gradient(#98971a,#d65d0e);
	color: #f9f5d7;
}